article {
  position: relative;
}

article.node--teaser {
  display: block;
}

.node--teaser-wrapper {
  position: relative;
  z-index: 1;
}

.node--teaser-cta {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
