.view-event-overview .view-content {
  display: flex;
  flex-wrap: wrap;
}

.view-event-overview .view-content > div {
  width: calc(50% - 20px);
}

.view-event-overview .view-content > div:nth-child(odd) {
  margin-right: 40px;
}

@media screen and (max-width:480px) {
  .view-event-overview .view-content > div {
    width: 100%;
  }

  .view-event-overview .view-content > div:nth-child(odd) {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

