@media print {
  * {
    color: #000 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  body {
    padding-top: 0;
  }
}
